.faq-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 160px 0;
}

.faq-section .accordions-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 56px;
}

.faq-section .accordion {
  display: flex;
  justify-content: space-between;
  align-items: start;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.40);
  padding: 40px;
  gap: 12px;
  cursor: pointer;
}

.faq-section .accordion > img {
  transition: transform 0.4s ease-out;
}

.faq-section .accordion > img.expanded {
  transform: rotate(180deg);
}

.faq-section .accordion .accordion-title {
  font-weight: 700;
  text-transform: none;
}

.faq-section .accordion .accordion-content {
  margin-top: 28px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

.faq-section .accordion .accordion-content.expanded {
  max-height: 150px;
}
