.offer-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 180px;
  gap: 40px;
}

.offer-section .container > h2 {
  max-width: 580px;
  text-align: center;
}

.offer-section .cards-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.offer-section .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px;
  gap: 14px;
}

.offer-section .card > p {
  text-align: center;
}

.offer-section .become-partner-card {
  width: 100%;
  position: relative;
  top: 112px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 62px;
  color: #212529;
  border-radius: 24px;
  background-image: url('../img/cta-yellow-bg.png');
  background-position: center;
  background-size: cover;
  gap: 18px;
}

.offer-section .become-partner-card .text-block {
  max-width: 630px;
}

.offer-section .become-partner-card .text-block > p {
  margin-top: 12px;
}

.offer-section .become-partner-card > button{
  font-size: 14px;
}

@media screen and (max-width: 1024px) {
  .offer-section .cards-container {
    flex-direction: column;
  }
}


@media screen and (max-width: 768px) {
  .offer-section .become-partner-card {
    flex-direction: column;
    top: 148px;
  }

  .offer-section .become-partner-card .text-block {
    text-align: center;
  }
}


@media screen and (max-width: 425px) {
  .offer-section .become-partner-card {
    top: 225px;
  }
}
